.DS_Store
*.log
.env
.env.local
node_modules/
dist/
build/
*.g.dart
*.freezed.dart
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.gradle/
android/.gradle/
android/app/build/
android/local.properties
ios/Pods/
ios/.symlinks/
coverage/
*.iml
.metadata
temp_login.json